@import "tailwindcss";

@theme {
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);

  --navy-950: rgb(48, 59, 89);
  --navy-200: rgb(202, 201, 255);
  --navy-50: rgb(236, 242, 255);

  --blue-800: rgb(17, 37, 214);
  --blue-50: rgb(243, 244, 253);

  --yellow-400: rgb(255, 178, 30);
  --yellow-50: rgb(255, 251, 244);

  --red-400: rgb(255, 85, 85);
  --red-50: rgb(255, 246, 246);

  --green-500: rgb(0, 187, 143);
  --green-50: rgb(242, 252, 249);

  --gradient-light: 180deg, rgb(77, 33, 201) 0%, rgb(37, 33, 201) 100%;
  --gradient-dark: 180deg, rgb(119, 85, 255) 0%, rgb(47, 44, 233) 100%;

  --space-0: 0;
  --space-100: 0.5rem;
  --space-200: 1rem;
  --space-300: 1.5rem;
  --space-400: 2rem;
  --space-1000: 5rem;

  --shadow: 0px 30px 60px rgba(61, 108, 236, 0.15);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.text-1 {
  font-weight: 800;
  font-size: 4.5rem;
  line-height: 100%;
  letter-spacing: 0;
}

.text-2 {
  font-weight: 800;
  font-size: 3.5rem;
  line-height: 100%;
  letter-spacing: 0;
}

.text-3-bold {
  font-weight: 700;
  font-size: 2rem;
  line-height: 130%;
  letter-spacing: 0;
}

.text-4-bold {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 130%;
  letter-spacing: 0;
}

.text-5-bold {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 130%;
  letter-spacing: 0;
}

.text-5-med {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 130%;
  letter-spacing: 0;
}

.text-6-bold {
  font-weight: 700;
  font-size: 1rem;
  line-height: 130%;
  letter-spacing: 0;
}

.text-6-med {
  font-weight: 500;
  font-size: 1rem;
  line-height: 130%;
  letter-spacing: 0;
}
